<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>

  <body>
    <h1><%= title %></h1>

    <form id="add-an-item" action="/checklists/new" method="GET">
      <button type="submit">Create Checklist</button>
    </form>

  
    <table>
      <thead>
        <tr>
          <th>Date of Trip</th>
          <th>Destination</th>
          <th>Length of Stay</th>
          
        </tr>
      </thead>
      <tbody>
        <% checklists.forEach(function(c) { %>
        <tr>
          <td><%= c.dateOfTrip %></td>
          <td><%= c.destination %></td>
          <td><%= c.lengthOfStay %></td>
          <td><a href="/checklists/<%= c._id %>">Click Here</a></td>
        </tr>
        
        <% }); %>
      </tbody>
    
    </table>
    
  </body>
</html>
