<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
</head>
<body>
 
<h3>Add Packing List </h3> 
<!-- We need to work on this form to get it to link and render properly -->
<form action="/checklists/<%= checklist._id %>/items/" method="POST">
    <label>Item 
      <select name= "name">
        <option>Hat</option>
        <option>Scarf</option>
        <option>Mittens</option>
      </select>
    </labeL>
      <br>
      <label>Quantity</label>
      <select name= "quantity">
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
      </select>
      <label>Section</label>
      <select name= "section">
        <option>Essentials</option>
        <option>Clothing</option>
        <option>Toiletries</option>
        <option>Entertainment</option>
        <option>Accessories</option>
      </select>
      
   <input type="submit" value="Add Item">
  </form>
  <% if(checklist.items.length) { %>
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Quantity</th>
          <th>Section</th>
        </tr>
      </thead>
      <tbody>
        <% checklist.items.forEach(function(d){ %>
        <tr>
          <td><%= d.name %></td>
          <td><%= d.quantity %></td>
          <td><%= d.section %></td>
        </tr>
        <% });%>
      </tbody>
    </table>
    <% } else { %>
    <h3>No New Destinations</h3>
    <% } %>
<!-- Add delete and update capabilities for packing list items -->
<!-- Add update capabilities to update trip details -->
<br><br>
<table>
  
</body>
</html>
<table>
  <form action="/checklists/<%= checklist._id %>?_method=PUT" method="POST" class="update-button">    
    <label>Date of Trip </labeL>
      <input type="datetime-local" name="dateOfTrip">
  <label>Destination</label>
  <input type="text" name="destination">
  <label>Length of Stay</label>
  <input type="text" name="lengthOfStay" placeholder="No. of Days/No. of Nights">
    <input type="submit" value="Update Trip">
  </form> 
</tr>
</tbody>
</table>
<thead>
  <tr>
    <th>Date of Trip</th>
    <th>Destination</th>
    <th>Length of Stay</th>  
  </tr>
</thead>
<tbody>
  <tr>
    <td><%= checklist.dateOfTrip %></td>
    <td><%= checklist.destination %></td>
    <td><%= checklist.lengthOfStay %></td> 
    <td>
      <form
      action="/checklists/<%= checklist._id %>?_method=PUT"
      class="update-form"
      method="POST" 
    >
    
    </td>
  </tr>
</tbody>
</table>

<button>
<a href="/checklists">Home</a>
</button>

</html>