<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <table>
      <thead>
        <tr>
          <th>Essentials</th>
          <th>Clothing</th>
          <th>Toiletries</th>
          <th>Technology</th>
          <th>Accessories</th>
          <th>Entertainment</th>
        </tr>
      </thead>
      <tbody>
        <% checklist.forEach(function(c) { %>
        <tr>
          <td><%= c.essentials %></td>
          <td><%= c.clothing %></td>
          <td><%= c.toiletries %></td>
          <td><%= c.technology %></td>
          <td><%= c.accessories %></td>
          <td><%= c.entertainment %></td>
        </tr>
      <% }); %>
      </tbody>
    </table>
  </body>
</html>
